<ng-container *transloco="let t">
  <div class="paginator">
    <p>
      @if (hasTotalLength) {
        {{
          t("paginator.x_to_y_of_z", {
            x: (firstItemIndex | number),
            y: (lastItemIndex | number),
            z: totalLength ?? 0 | intEstimate: totalIsEstimate,
          })
        }}
      } @else {
        {{
          t("paginator.x_to_y", {
            x: (firstItemIndex | number),
            y: (lastItemIndex | number),
          })
        }}
      }
    </p>
    <nav aria-label="Pagination">
      <button
        type="button"
        [disabled]="!hasPreviousPage"
        [title]="t('paginator.first_page')"
        (click)="page = 1; emitChange()"
      >
        «
      </button>
      <button
        type="button"
        [disabled]="!hasPreviousPage"
        [title]="t('paginator.previous_page')"
        (click)="page = page - 1; emitChange()"
      >
        ‹
      </button>
      <span>{{ page }}</span>
      <button
        type="button"
        [disabled]="!actuallyHasNextPage"
        [title]="t('paginator.next_page')"
        (click)="page = page + 1; emitChange()"
      >
        ›
      </button>
      @if (showLastPage && pageCount && pageCount !== page) {
        <button
          type="button"
          [disabled]="pageCount === page"
          [title]="t('paginator.last_page')"
          (click)="page = pageCount; emitChange()"
        >
          {{ pageCount }}
        </button>
      }
    </nav>
  </div>
</ng-container>
