<ng-container *transloco="let t">
  <div class="paginator">
    <p>
      @if (itemName && hasTotalLength) {
        {{ totalLength ?? 0 | number }} {{ itemName }}
      } @else if (hasTotalLength) {
        {{
          t("paginator.x_to_y_of_z", {
            x: (firstItemIndex | number),
            y: (lastItemIndex | number),
            z: totalLength ?? 0 | intEstimate: totalIsEstimate,
          })
        }}
      } @else {
        {{
          t("paginator.x_to_y", {
            x: (firstItemIndex | number),
            y: (lastItemIndex | number),
          })
        }}
      }
    </p>
    <nav aria-label="Pagination">
      <button
        type="button"
        [disabled]="!hasPreviousPage"
        [title]="t('paginator.previous_page')"
        (click)="goToPage(page - 1)"
      >
        ‹
      </button>
      @for (item of visiblePages; track $index) {
        @if (item === "ellipsis") {
          <span class="ellipsis" aria-hidden="true">…</span>
        } @else {
          <button
            type="button"
            class="page-number"
            [class.current]="item === page"
            [attr.aria-current]="item === page ? 'page' : null"
            [disabled]="item === page"
            (click)="goToPage(item)"
          >
            {{ item }}
          </button>
        }
      }
      <button
        type="button"
        [disabled]="!actuallyHasNextPage"
        [title]="t('paginator.next_page')"
        (click)="goToPage(page + 1)"
      >
        ›
      </button>
    </nav>
  </div>
</ng-container>
