@if (title) {
  <header class="chart-heading">
    <h4>{{ title }}</h4>
    <button
      type="button"
      [class.active]="legend"
      (click)="toggleLegend()"
      aria-label="Toggle chart legend"
      title="Toggle chart legend"
    >
      ≡
    </button>
  </header>
}
<div class="chart" [style.max-width.px]="width">
  <canvas
    baseChart
    [data]="chartConfig.data"
    [options]="chartConfig.options"
    [type]="chartConfig.type"
    [height]="height"
    [width]="width"
  ></canvas>
</div>
