<ng-container *transloco="let t">
  <div class="reprocess-form">
    <label>
      <input
        type="checkbox"
        [checked]="!localSearchDisabled"
        (change)="
          localSearchDisabled = !$any($event.target).checked;
          apisDisabled = !$any($event.target).checked ? true : apisDisabled
        "
      />
      <span class="checkbox">{{ !localSearchDisabled ? "✓" : "" }}</span>
      {{ t("torrents.reprocess.match_content_by_local_search") }}
    </label>
    <label>
      <input
        type="checkbox"
        [checked]="!apisDisabled"
        (change)="
          apisDisabled = !$any($event.target).checked;
          localSearchDisabled = $any($event.target).checked
            ? false
            : localSearchDisabled
        "
      />
      <span class="checkbox">{{ !apisDisabled ? "✓" : "" }}</span>
      {{ t("torrents.reprocess.match_content_by_external_api_search") }}
    </label>
    <label>
      <input
        type="checkbox"
        [checked]="classifierRematch"
        (change)="classifierRematch = $any($event.target).checked"
      />
      <span class="checkbox">{{ classifierRematch ? "✓" : "" }}</span>
      {{ t("torrents.reprocess.force_rematch") }}
    </label>
    <button type="button" [disabled]="!infoHashes.length" (click)="reprocess()">
      ↻ {{ t("torrents.reprocess.reprocess") }}
    </button>
  </div>
</ng-container>
