<ng-container *transloco="let t">
  @if (torrent.filesStatus === "over_threshold") {
    <p class="files-note">
      {{
        t("torrents.showing_x_of_y_files", {
          x: dataSource.result.totalCount | number,
          y: torrent.filesCount == null ? "?" : (torrent.filesCount | number),
        })
      }}
    </p>
  }
  <div class="file-list" [class.loading]="dataSource.loading$ | async">
    @for (file of dataSource.result.items; track file.index) {
      <div class="file-row">
        <span class="file-path" [title]="file.path">{{ file.path }}</span>
        <span class="file-type">{{
          t("file_types." + (file.fileType ?? "unknown"))
        }}</span>
        <span class="file-size" [title]="file.size | filesize: 10">{{
          file.size | filesize
        }}</span>
      </div>
    }
  </div>
  @if (dataSource.result.totalCount > 10) {
    <app-paginator
      (paging)="controller.handlePageEvent($event)"
      [page]="controls.page"
      [pageSize]="controls.limit"
      [pageLength]="dataSource.result.items.length"
      [totalLength]="dataSource.result.totalCount"
      [totalIsEstimate]="false"
      [showLastPage]="true"
    />
  }
</ng-container>
