<ng-container *transloco="let t">
  <div class="tag-editor">
    @for (tag of editedTags; track tag) {
      <span
        >{{ tag }}
        <button type="button" (click)="deleteTag(tag)" aria-label="Remove tag">
          ✕
        </button></span
      >
    }
    <input
      type="text"
      [placeholder]="t('torrents.new_tag')"
      [formControl]="newTagCtrl"
      (keyup.enter)="newTagCtrl.value && addTag(newTagCtrl.value)"
      [attr.list]="'torrent-tag-suggestions-' + torrentContent.infoHash"
      autocapitalize="none"
    />
    <datalist [id]="'torrent-tag-suggestions-' + torrentContent.infoHash">
      @for (tag of suggestedTags; track tag) {
        <option [value]="tag"></option>
      }
    </datalist>
  </div>
</ng-container>
